<%= turbo_frame_tag "upload_status" do %>
  <div id="upload-status" data-upload-target="info">
    <div class="bg-red-100 border border-blue-400 text-blue-700 px-4 py-3 my-5 rounded relative" role="alert">
      <p class="font-bold">
        <%= "Can not process #{@upload.file.try(:original_filename)}" %>
      </p>
      <span class="block sm:inline">
      <%= "#{@upload.errors.full_messages.join(',') }" %>
    </span>
    </div>
  </div>
<% end %>
